*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(250, 250, 250);
}
header{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 12px rgb(182, 176, 176);
    height: 10vh;
}
header span{
    background-color: rgb(103, 103, 208);
    color: white;
    padding: 4px 0px;
    border-radius: 8px;
    font-weight: 500;
    margin-right: 9px;

}
header h3{
    margin-left: 80px;
    margin-top: 10px;
    font-size: 23PX;
    color: rgb(61, 58, 58);
} #bar{
    display: none;
}

header ul{

    margin-top: 10PX;
    margin-right: 80px;
}
header li{
    display: inline-block;
    padding: 10px 20px;
}

header a{
    text-decoration: none;
    color: rgb(124, 119, 119);
}
#dash{
    color: rgb(92, 92, 227);
    background-color:#f1f0f0;
    padding: 4px 10px;
    border-radius: 6px;
} 
.main{
    margin-top: 60px;
}
.main h1{

    margin-left: 82px;
    font-size: 25px;
}
.main .task::before{
    content: '';
    border: 3px solid rgb(103, 103, 208);
    border-radius: 5px;
    letter-spacing: 2px;
    margin-right: 20px;
}
.container{
    display: flex;
    margin-top: 30px;

}
.container-left{
    background-color: white;
    width: 35%;
    margin-left: 80px;
    padding: 1px 10px;
    box-shadow: 0 0 10px rgb(219, 211, 211);
    border-radius: 15px;
}
.container-left h4{
    padding: 10px;
    margin-top: 20px;
    margin-left: 7px;
    font-size: 20px;
}
#red{
    border: 2px solid red;
}
.upper{
    position: relative;
    
}
.upper label{
    position: absolute;
    left: 12px;
    top: -8px;
    background: white;
    padding: 0 3px;
    font-size: 12px;
    color: rgb(40, 40, 214);
}
form{
    margin: 2px 4.5%;
}
.inputs{
    width: 100%;
    /* margin: 1px 3%; */
    padding: 10px 1px;
    
    
}
.inpt ,select{
    padding:10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    border: 2px solid rgb(220, 215, 215);
}


textarea{
    width: 45%;
    height: 9vh;
}


#task{
    display: block;
    margin-top: 30px;
    margin-left: 2px;

    
}

#progress{
    display: block;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
    
}
.inputs p{
    text-align: center;
    color: rgb(62, 62, 235);
    margin-top: 0px;
    font-weight: bold;
}
#inputs{
    margin-left: 4px;
}


 #di{
    width: 100%;
    height: 45px;
    padding: 4px;
    cursor: pointer;
    border-radius:10px;
    border-color: rgb(185, 185, 185);
    margin-top: 15px;

}
textarea::placeholder{
    padding-top: 20px;
   
}
.lab{
    color: rgb(57, 55, 55);
    
}

.checkbox-field{
    display: grid;
    padding: 10px 0px;
    grid-template-columns: 125px 130px;
    row-gap: 20px;
    margin-top: 5%;

}
.check-box label{ 
    cursor: pointer;
}
.check-box input[type="radio"],input[type="checkbox"]{
    width: 17px;
    height: 15px;
    cursor: pointer;
    margin-right: 5px;
    background-color: blue;
}

.check-box input[type="checkbox"],input[type="radio"]{
    accent-color: rgb(71, 71, 202);
    
}
.inputs input[type="range"]{
    accent-color: rgb(90, 90, 232);
}

.label{
    margin-left: 6px;
}
.files{
    margin: 10px 1px;
    width: 100%;
}
.upload{
    text-align: center;
    font-family: Arial, sans-serif;
}      
.file-upload{
    display: inline-block;
    border: 2px dashed rgb(225, 218, 218);
    border-radius: 5px;
    padding: 28px 1px;
    cursor: pointer;
    margin-bottom: 10px;
    margin: 1px 1%;
    width: 97%;
    background-color: rgb(254, 252, 252);
}
.fileinput {
    display:none;
}
        
.text {
    font-size: 16px;
    color: #333;
    font-weight: normal;
}

.pdf {
    font-size: 11px;
    color: #666;
    margin-top: 10px;
    
}


#button{
    margin-top: 30px;
    margin-left: 4px;
    width: 101%;

    /* margin: 1px 100px; */
    /* padding-right: 4000px; */
    /* margin-right: 5px; */
    padding-bottom: 30px;

}
#button button{
    border-radius: 6px;
    border: none;
    /* padding-left: 20px; */
    /* margin-left: 3000px; */
    /* margin: 2px 300px; */
    /* padding: 2px 50px; */
    margin: 1px 2px;
    cursor: pointer;
    /* margin: 0px; */
    
    
}
#i{
    margin-right: 4px;
}
#btn1{
    padding: 25px 10px;
    background-color: rgb(113, 113, 221);
    color: white;
    font-weight: bold;
    width: 55%;
}
#btn2{
    
    position: relative;
    top: 8px;
    padding: 18px 38px;
    width:39%;
    font-weight: bold;
}
.container-right{
    background-color: white;
    margin-left: 40px;
    margin-right: 95px;
    border-radius: 15px;
     box-shadow: 0 0 10px rgb(219, 211, 211);
}

.container-right .head{
    display: flex;
    justify-content:space-between;
}
.head ul{
    margin-top: 45px;
    margin-right: 28px;
}
.head li{
    display: inline-block;
    padding-right: 10px;
}
.head h2{
    margin-left: 33px;
    margin-top: 40px;
}
.head a{
    text-decoration: none;
    color: black;
    border: 1px solid rgb(179, 172, 172);
    padding: 10px 15px;
    border-radius: 25px;
}
#all{
    background-color: rgb(99, 99, 203);
    color: white;
}

.subright{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 23px;
    gap: 20px;
    padding: 0px 20px;

}
.content{
    border: 1px solid rgb(226, 220, 220);
    margin: 2px 15px;
    border-radius: 15px;
    cursor: pointer;

    
}
.content:hover{
    transform: scale(1.03);
}

.main-high{
    display: flex;
    justify-content: space-between;
    margin: 18px 1px;
}

.high{
    display: inline-block;
    margin-left: 25px;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: rgb(253, 207, 207,0.5);
    color: red;
    font-weight: bold;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
    
}
.inpro{
    display: inline-block;
    margin-left: 25px;
    border-radius: 15px;
    padding: 5px 15px;
    color: rgb(105, 100, 100);
    font-weight: bold;
    margin-right: 8px;

}

.dot3{
    height: 10px;
    width: 10px;
    background-color: rgb(14, 98, 182);
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
}
.dot4{
    
    height: 10px;
    width: 10px;
    background-color:orange;
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
}
.dot5{
    height: 10px;
    width: 10px;
    background-color:green;
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
    
}

.medium{
     display: inline-block;
    margin-left: 25px;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: rgb(254, 227, 177,0.5);
    color: orange;
    font-weight: bold;
}
.dot1{
    height: 10px;
    width: 10px;
    background-color: orange;
    display: inline-block;
    border-radius: 50%;
}

.low{
    display: inline-block;
    margin-left: 25px;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: rgb(193, 238, 193);
    color: green;
    font-weight: bold;
    
}
.dot2{
    
    height: 10px;
    width: 10px;
    background-color:green;
    display: inline-block;
    border-radius: 50%;
}
.content img{
    width: 18px;

    margin-right: 10px;
}
.content h3{
    margin: 20px 25px;
    font-size: 20px;
}
.content .p{
    margin-top: 30px;
}
.content .p1{
    margin-top: 25px;

}
.content p{
    margin: 15px 25px;
    font-size: 18px;
    color: rgb(103, 95, 95);
    
}

.p2{

    border-bottom: 1px solid rgb(226, 220, 220);
    padding-bottom: 15px;
}
.ul{
    display: flex;
    justify-content: space-between;
}
.ul li{
    margin: 20px;
    font-weight: bold;
}
.ul .red{
    background-color: rgb(243, 195, 195,0.5);
    border-radius: 15px;
    color: red;
}
.ul li span::before{
    content: ".";
    width: 100px;
    height: 10000px;
    font-weight: bold;

    background-color: aqua;
}
.spa{
    display: flex;
    justify-content: space-between;
}

.spa h4{
    background-color: red;
}
 footer{
    background-color: white;
    margin-top: 6%;
 }

 .foot-main{
    display:flex;
    justify-content: center;

 }
 .foot-main div{
    margin: 30px 110px;

 }
 .foot-main ul{
    margin-top: 10px;
 }
 .foot-main li{
    list-style: none;
    padding-top: 18px;
 }
 .foot-main a{
    text-decoration: none;
    color: rgb(143, 140, 140);
 }
 .foot-main p{
    margin-top: 18px;
    color: rgb(143, 140, 140);
    font-size: 18px;
 }

#bottom{
    width: 80%;;
    margin: 0 auto ;
    text-align: center;
    border-top: 1px solid rgb(211, 199, 199);
}

#bottom p{
     color:rgb(99, 96, 96);
    margin-top: 3%;
    text-align: center;
    padding-bottom: 40px;

 }
 @media screen and (max-width:1185px) {
     
     header{
        height: 8VH;
     }
     header h3{
        margin-left:14%;
        margin-top: 8PX;
        font-size: 25px;
    }
    .ul{
        margin-right: 5%;
        margin-top: 0px;
        padding-top: 8px;
    }
    header li{
        padding-top: 10px;
    }

    .container{
        display: block;
    }
    
    .main h1{
        margin-left: 4%;
    }

    .container-left{
        margin-left: 4%;
        width: 89.6%;
    }
    form{
        margin: 1px 2.2%;
    }
    .inputs{
        margin: 1px 0;
        width: 100%;
    }
    .inpt{
        width: 100%;
    }
    #select{
        width: 100%;
    }
    #progress{
        width: 100%;
    }
    #di{
        width: 100%;
        margin-left: 0;
    }
    #ip{
        margin-left: 5%;
    }

    .checkbox-field{
        grid-template-columns: auto auto auto;
    }
    .files{
        margin: 15px 0%;
    }
    #btn{
        width: 100%;
        
    }
    #btn button{
        margin: 1px 0px;
    }
    #btn1{
        width: 57%;
    }
    #btn2{
        width: 39.5%;
    }
    .container-right{
        margin-left: 1.6%;
        width: 92%;
        margin: 3.5%;
        padding-bottom: 40px;
    }
    .subright{
        gap: 10px;
    }
    .subright .content{
        margin: 1%;
    }
    
    .foot-main div{
        margin: 40px 15px;
    }
    #bottom{
        width: 90vw;
    }
    
    .file-upload{
        width: 98%;
        /* padding: 1px 10px; */
        margin: 1px 0%;
    }
}
@media screen and (max-width:640px) {
   header{
    
       position: fixed;
       top: 0;
       width: 100vw;
       z-index: 1;
       height: 9VH;
   }
   header li{
       display:block;
       margin: 0;
   }
 
   header #bar{
       display: block;
       font-size: 30px;
       margin-right: 15px;
       background-color: rgb(233, 230, 230);
       padding: 2px;
       border-radius: 10px;
   }
   .menu-bar{
       font-size: 30px;
       margin-top: 2%;
       position: relative;
       
   }
   .ul{
       display: none;
       margin-right: 0px;
       text-align: center;
       background-color: white;
       position: absolute;
       top: 40px;
       right: 1px;

   }
   .menu-bar:hover .ul{
       display: block;

   }
   header:active .h1{
       margin-top: 1500px;
       color: red;
   }
   header h3{
       margin-left: 10%;
       margin-top: 8PX;
       font-size: 20px;
   }
   .main{
       margin-left: 0px ;
   }
   .main h1{
       margin-top: 120px;
       margin-left: 5%;
       font-size: 24px;
   }
   .container{
       display: block;
   }
   .container-left{
       box-shadow: 0 0 10px rgb(219, 211, 211);
       margin: 1px 3.5%;
       width: 87%;
       border-radius: 20px;
   }

   .container-left h4{
       padding: 5px 0;
       margin-top: 10px;
   }



   form{
    margin: 2px 2.5%;
   }
    .inputs{
        margin: 1px 0px;
        width: 100%;
    }
    .inpt,select{
        width: 100%;
    }

    #progress{
        width: 100%;
    }
    .file-upload{
        margin-left: 2px;
    }
    #di{
        width: 100%;
    }

    .checks{
        grid-template-columns: 125px 110px;
    }

   #btn {
       margin-left: 3%;
       width:95%;
   }  
   #btn1{
       padding: 7.5% 1%;
       width: 50%;
   }
   #btn2{
    padding: 5%;
       font-size: 13px;
       width: 44%;
       font-weight: bold;
   }

   .checkbox-field{
    grid-template-columns: 125px 130px;
}

 
   .file-upload{
    width: 96%;
    margin: 1px 1%;
   }

   .container-right{
       width: 93%;
       margin: 3px 3.5%;
       border-radius: 15px;
       box-shadow: 0 0 10px rgb(219, 211, 211);
   }
   .container-right .head{
       display: block;
   }
   .head h2{
       margin-left: 10px;
      
       padding: 20px 0;
   }
   .head ul{
       margin: 2% 6%;
      
   }
   .head li{
       padding: 2px 1%;
   }
   .head a{
       font-size: 13px;
   }
   .subright{
       display: block;
       padding: 1px 1px;
       margin-top: 5px;
   }
   .subright .content{

       margin: 30px 15px;
   }
   .foot-main{
       display: block;
       text-align: center;
   }
   .foot-main div{
       padding-top: 25px;
   }
   .foot-main p,a{
       font-size: 20px;
   }
   #bottom{
       width: 280px;
   }

}