*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(250, 250, 250);
}
header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 12px rgb(182, 176, 176);
    height: 7vh;
}
header span{
    background-color: rgb(103, 103, 208);
    color: white;
    padding: 4px 0px;
    border-radius: 8px;
    font-weight: 500;
    margin-right: 7px;

}
header h3{
    margin-left: 80px;
    margin-top: 30px;
    color: rgb(61, 58, 58);
} #bar{
    display: none;
}

header ul{

    margin-right: 80px;
    /* margin-top: 10px; */
}
header li{
    display: inline-block;
    padding: 10px 20px;
}

header a{
    text-decoration: none;
    color: rgb(124, 119, 119);
}
#dash{
    color: rgb(92, 92, 227);
    background-color:#f1f0f0;
    padding: 5px 15px;
    border-radius: 6px;
} 
.main{
    margin-top: 60px;
}
.main h1{

    margin-left: 82px;
    font-size: 25px;
}
.main .task::before{
    content: '';
    border: 3px solid rgb(103, 103, 208);
    border-radius: 5px;
    letter-spacing: 2px;
    margin-right: 20px;
}
.sub-main{
    display: flex;
    margin-top: 30px;

}
.left{
    background-color: white;
    width: 35vw;
    margin-left: 80px;
    padding: 1px 10px;
    box-shadow: 0 0 10px rgb(219, 211, 211);
    border-radius: 15px;
}
.left h4{
    padding: 10px;
    margin-top: 20px;
    margin-left: 7px;
    font-size: 20px;
}
#red{
    border: 2px solid red;
}
.upper{
    position: relative;
}
.upper label{
    position: absolute;
    left: 12px;
    top: -8px;
    background: white;
    padding: 0 3px;
    font-size: 12px;
    color: rgb(40, 40, 214);
}
.inputs{
    width: 85%;
    margin: 1px 27px;
    padding: 10px 1px;
}
.inpt{
    padding:10px;
    border-radius: 5px;
    width: 90%;
    display: inline-block;
    border: 2px solid rgb(220, 215, 215);
}

#select{
    width: 98%;
}
textarea{
    
    height: 8vh;
}


#task{
    display: block;
    margin-top: 18px;
}
#progress{
    display: block;
    width: 98%;
    margin-top: 5px;
}
.inputs p{
    text-align: center;
    color: rgb(62, 62, 235);
    margin-top: 10px;
    font-weight: bold;
}


 #di{
    margin-left: 6px;
    width: 95%;
    height: 23px;
    background-color: black;
    outline-offset: 6px;
    outline: 1px solid rgb(146, 136, 136);
    border-radius: 0.5px;
    margin-top: 20px;

}
textarea::placeholder{
    padding-top: 20px;
   
}
.lab{
    color: rgb(155, 150, 150);
}

.checks{
    display: grid;
    padding: 10px 0px;
    grid-template-columns: 125px 110px;
    row-gap: 20px;
    margin-top: 5px;

}
.check input[type="radio"],input[type="checkbox"]{
    width: 17px;
    height: 15px;

    background-color: blue;
}

.check input[type="checkbox"],input[type="radio"]{
    accent-color: rgb(71, 71, 202);
    
}
.inputs input[type="range"]{
    accent-color: rgb(90, 90, 232);
}

.label{
    margin-left: 6px;
}
.files{
    margin: 10px 25px;
}
.upload{
    text-align: center;
    font-family: Arial, sans-serif;
}      
.file-upload{
    display: inline-block;
    border: 2px dashed rgb(225, 218, 218);
    border-radius: 5px;
    padding: 28px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 80%;
    background-color: rgb(254, 252, 252);
}
        
.text {
    font-size: 16px;
    color: #333;
    font-weight: normal;
}

.supported {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
    
}

.fileinput {
    display: none;
}

#button{
    margin-top: 30px;
    margin-left: 20px;
    width: 90%;
    padding-bottom: 40px;
}
#button button{
    border-radius: 5px;
    border: none;
    
    margin: 6px;
}
#i{
    margin-right: 4px;
}
#btn1{
    padding: 25px 35px;
    background-color: rgb(113, 113, 221);
    color: white;
    font-weight: bold;
    width: 56%;
}
#btn2{
    padding-top: 15px;
    padding-bottom: 24px;
    width: 32%;
    font-weight: bold;
}
.right{
    background-color: white;
    margin-left: 40px;
    margin-right: 95px;
    border-radius: 15px;
     box-shadow: 0 0 10px rgb(219, 211, 211);
}

.right .head{
    display: flex;
    justify-content:space-between;
}
.head ul{
    margin-top: 45px;
    margin-right: 28px;
}
.head li{
    display: inline-block;
    padding-right: 10px;
}
.head h2{
    margin-left: 33px;
    margin-top: 40px;
}
.head a{
    text-decoration: none;
    color: black;
    border: 1px solid rgb(179, 172, 172);
    padding: 10px 15px;
    border-radius: 25px;
}
#all{
    background-color: rgb(99, 99, 203);
    color: white;
}

.subright{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 23px;
    gap: 20px;
    padding: 0px 20px;

}
.content{
    border: 1px solid rgb(226, 220, 220);
    margin: 2px 15px;
    border-radius: 15px;
    
}
.main-high{
    display: flex;
    justify-content: space-between;
    margin: 18px 1px;
}

.high{
    display: inline-block;
    margin-left: 25px;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: rgb(253, 207, 207,0.5);
    color: red;
    font-weight: bold;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
    
}
.inpro{
    display: inline-block;
    margin-left: 25px;
    border-radius: 15px;
    padding: 5px 15px;
    color: rgb(105, 100, 100);
    font-weight: bold;
    margin-right: 8px;

}

.dot3{
    height: 10px;
    width: 10px;
    background-color: rgb(14, 98, 182);
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
}
.dot4{
    
    height: 10px;
    width: 10px;
    background-color:orange;
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
}
.dot5{
    height: 10px;
    width: 10px;
    background-color:green;
    display: inline-block;
    border-radius: 50%;
    margin-right: 4px;
    
}

.medium{
     display: inline-block;
    margin-left: 25px;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: rgb(254, 227, 177,0.5);
    color: orange;
    font-weight: bold;
}
.dot1{
    height: 10px;
    width: 10px;
    background-color: orange;
    display: inline-block;
    border-radius: 50%;
}

.low{
    display: inline-block;
    margin-left: 25px;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: rgb(193, 238, 193);
    color: green;
    font-weight: bold;
    
}
.dot2{
    
    height: 10px;
    width: 10px;
    background-color:green;
    display: inline-block;
    border-radius: 50%;
}
.content img{
    width: 18px;

    margin-right: 10px;
}
.content h3{
    margin: 20px 25px;
    font-size: 20px;
}
.content .p{
    margin-top: 30px;
}
.content .p1{
    margin-top: 25px;

}
.content p{
    margin: 15px 25px;
    font-size: 18px;
    color: rgb(103, 95, 95);
}

.p2{

    border-bottom: 1px solid rgb(226, 220, 220);
    padding-bottom: 15px;
}
.ul{
    display: flex;
    justify-content: space-between;
}
.ul li{
    margin: 20px;
    font-weight: bold;
}
.ul .red{
    background-color: rgb(243, 195, 195,0.5);
    border-radius: 15px;
    color: red;
}
.ul li span::before{
    content: ".";
    width: 100px;
    height: 10000px;
    font-weight: bold;

    background-color: aqua;
}
.spa{
    display: flex;
    justify-content: space-between;
}

.spa h4{
    background-color: red;
}
 footer{
    background-color: white;
    margin-top: 6%;
 }

 .foot-main{
    display:flex;
    justify-content: center;

 }
 .foot-main div{
    margin: 30px 80px;

 }
 .foot-main ul{
    margin-top: 10px;
 }
 .foot-main li{
    list-style: none;
    padding-top: 18px;
 }
 .foot-main a{
    text-decoration: none;
    color: rgb(143, 140, 140);
 }
 .foot-main p{
    margin-top: 18px;
    color: rgb(143, 140, 140);
    font-size: 18px;
 }

#bottom{
    width:1200px;
    margin: 0 auto ;
    text-align: center;
    border-top: 1px solid rgb(211, 199, 199);
}

#bottom p{
     color:rgb(99, 96, 96);
    margin-top: 3%;
    text-align: center;
    padding-bottom: 40px;

 }
 @media screen and (max-width:1185px) {
     
     header{
        height: 20%;
     }
     header h3{
        margin-left:42px;
        margin-top: 8%;
        font-size: 25px;
    }
    .ul{
        margin-right: 40px;
        margin-top: 0px;
        padding-top: 10px;
    }
    header li{
        padding-top: 20px;
    }

    .sub-main{
        display: block;
    }
    
    .main h1{
        margin-left: 6%;
    }
    
    .left{
        margin-left: 5%;
        width: 88%;
    }

    .ip{
        width: 100%;
    }
    .inpt{
        width: 104%;
    }

    #select{
        width: 108%;
    }
    #progress{
        width: 80vw;
    }
    #di{
        width: 78vw;
    }
    #ip{
        margin-left: 5%;
    }
    #btn{
        margin-left: 30px;
        width: 93%;
       
    }
    #btn1{
        width: 57%;
    }
    #btn2{
        width: 30vw;
    }
    .right{
        margin-left: 2%;
        width: 90%;
        margin: 5%;
        padding-bottom: 40px;
    }
    .subright{
        gap: 10px;
    }
    .subright .content{
        margin: 1%;
    }
    .foot-main div{
        margin: 40px 15px;
    }
    #bottom{
        width: 90vw;
    }

    .file-upload{
        width: 90%;
    }
}
@media screen and (max-width:630px) {
   header{
    
       position: fixed;
       top: 0;
       width: 100vw;
       z-index: 1;
       height: 8%;
   }
   header li{
       display:block;
       margin: 0;
   }
 
   header #bar{
       display: block;
       font-size: 30px;
       margin-right: 35px;
       background-color: rgb(233, 230, 230);
       padding: 2px;
       border-radius: 10px;
   }
   .menu-bar{
       font-size: 30px;
       margin-top: 4%;
       position: relative;
       
   }
   .ul{
       display: none;
       margin-right: 0px;
       text-align: center;
       background-color: white;
       position: absolute;
       top: 40px;
       right: 1px;

   }
   .menu-bar:hover .ul{
       display: block;

   }
   header:active .h1{
       margin-top: 1500px;
       color: red;
   }
   header h3{
       margin-left: 10%;
       margin-top: 10%;
       font-size: 22px;
   }
   .main{
       margin-left: 0px ;
   }
   .main h1{
       margin-top: 30%;
       margin-left: 7%;
       font-size: 24px;
   }
   .sub-main{
       display: block;
   }
   .left{

       box-shadow: 0 0 10px rgb(219, 211, 211);
       margin: 7%;

       width: 80%;
       border-radius: 20px;
   }

   .left h4{
       padding: 5px 0;
       margin-top: 10px;
       margin-left: px;
   }
   .left .inputs{
       padding: 13px 8px;
       margin: 1%;
       width: 90%;
   }
   #inputs{
    margin-left: 2px;
   }
   #select,#progress{
        width: 99%;
    }
    .file-upload{
        margin-left: 2px;
    }
    #di{
        width: 70vw;
    }
   .inpt{
       width: 94%;
   }
   #btn {
       margin-left: 3%;
       width:95%;
   }  
   #btn1{
       padding: 9.5% 2%;
       width: 50%;
   }
   #btn2{
       font-size: 13px;
       width: 38%;
       font-weight: bold;
   }
   .file{
    margin-left:4%;
   }
 
   .file-upload{
    width: 88%;
    margin-left: 0%;
   }

   .right{
       width: 83%;
       margin: 8%;
       border-radius: 15px;
       box-shadow: 0 0 10px rgb(219, 211, 211);
   }
   .right .head{
       display: block;
   }
   .head h2{
       margin-left: 10px;
      
       padding: 20px 0;
   }
   .head ul{
       margin: 2% 4%;
      
   }
   .head li{
       padding: 2px 0.5%;
   }
   .head a{
       font-size: 13px;
   }
   .subright{
       display: block;
       padding: 1px 1px;
       margin-top: 5px;
   }
   .subright .content{

       margin: 30px 15px;
   }
   .foot-main{
       display: block;
       text-align: center;
   }
   .foot-main div{
       padding-top: 25px;
   }
   .foot-main p,a{
       font-size: 20px;
   }
   #bottom{
       width: 280px;
   }

}